<div>
  <h2> Name: <%=@todo.name%> </h2>
  <p> Description: <%=@todo.description%> </p>
  <p> Completed:
  <% if @todo.completed %>
    <%="Yes"%>
  <% else %>
    <%="No"%>
  <% end %> 
  </p>  
  <%= link_to 'Remove', @todo, method: :delete, data: { confirm: 'Are you sure?'} %>
</div>
